<div class="container">
  <div class="title">
    <h1>Create your team</h1>
  </div>
  <div class="form">
    <% simple_form_for @team do |f| %>
      <%#= f.association :team_members, collection: Users.all %>
      <%= f.input :about_us %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
