
<%= render 'components/progress' %>
<div class="container-fluid">
<div class="two-column-content">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Do you already have a team?</h1>
            </div>
            <div class="cta-button">
              <%= link_to "Find your team!", project_teams_path, class: "custom-primary-btn" %>
            </div>
          </div>
        </div>
        <div class="right-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Don't have a team yet?</h1>
            </div>
            <div class="cta-button">
              <%= link_to "Create your own!", project_teams_path, method: :post, class: "custom-primary-btn" %>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

