<%= render 'components/progress' %>
<div class="full-height">
<div class="container">
      <div class="about-team">
    <div class="col-xs-8 col-xs-offset-2">
  <div class="form">
      <%= simple_form_for @team do |f| %>
        <%= f.input :about_us, label: "Tell us about your team" %>
        <%= f.button :submit, "Next: Team members", class: "custom-primary-btn" %>
      <% end %>
    </div>
  </div>
</div>
</div>
