<div class="full-height">
<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="text-center">
  <div class="form">
      <%= simple_form_for @team do |f| %>
        <%= f.input :about_us, label: "Tell us about your team" %>
        <%= f.button :submit, "Add team members", class: "custom-primary-btn" %>
      <% end %>
    </div>
  </div>
</div>
</div>
