
<% @projects.each do |project| %>
<div class="col-lg-4 col-sm-6">
  <%= link_to project_path(project.id) do  %>
  <div class="cards-home" style="background-image: url('<%= cl_image_path project.photo %>');">
    <div class="cards-home-caption" >
      <div class="cards-home-caption-content">
        <div class="project-category text-faded">
          <%= project.organization.name %>
        </div>
        <div class="project-name">
          <%= project.title%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
