<div class="header-container">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Tailoring alumni's <br>
      skills towards social good.</h1>
    </div>
  </div>
</div>
