<div class="header-container" style="background-image: url('<%= cl_image_path 'bg.jpg' %>'); background-size: cover; background-position: center">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Tailoring <%= image_tag 'white_logo_red_font-(1).png' %> alumni's <br>
      skills towards</h1> <script>var typed = new Typed('.element', {
  strings: ["saving the world.", "protecting our oceans."],
  typeSpeed: 30
});
</script>
    </div>
  </div>
</div>
