// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// Placeholder Colors
$primary: #232323;
$secondary: #303030;
$text: #E7E6E1;
$accent: #3a3a3a;

$blue: #25b1dc;

