<!-- INVITE BY EMAIL FORM -->
<!-- <div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="title">
      <h1>Invite your teammates</h1>
    </div>
    <div class="form">
      <%#= form_tag team_team_members_path do %>
      <%# @members.each do |member| %>
      <div class="col xs-6">
        <%#= fields_for 'users[]', member do |m| %>
        <%#= m.label 'first_name', "First name" %>
        <%#= m.text_field :first_name %>
      </div>
      <div class="col-xs-6">
        <%#= m.label 'email', "Email" %>
        <%#= m.text_field :email %>
      </div>
      <%# end %>
      <%# end %>
      <div class="actions">
        <%#= submit_tag "Send invitations", class: "custom-primary-btn" %>
      </div>
      <%# end %>
    </div>
  </div>
-->

<div class="container">
  <div class="title text-center">
    <h1>Add fellow Rookstars to your team</h1>
  </div>
  <div class="form">
    <%= form_tag(users_path, method: :get, remote: true) do %>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Submit', name: nil, class: "custom-primary-btn" %>
    <% end %>
  </div>
</div>


