<div class="container">
  <div class="form">
    <%= simple_form_for @team, @team_members do |f| %>
      <%= f.input :user %>
      <%= f.input :lead_dev %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
