<!-- INVITE BY EMAIL FORM -->
<!-- <div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="title">
      <h1>Invite your teammates</h1>
    </div>
    <div class="form">
      <%#= form_tag team_team_members_path do %>
      <%# @members.each do |member| %>
      <div class="col xs-6">
        <%#= fields_for 'users[]', member do |m| %>
        <%#= m.label 'first_name', "First name" %>
        <%#= m.text_field :first_name %>
      </div>
      <div class="col-xs-6">
        <%#= m.label 'email', "Email" %>
        <%#= m.text_field :email %>
      </div>
      <%# end %>
      <%# end %>
      <div class="actions">
        <%#= submit_tag "Send invitations", class: "custom-primary-btn" %>
      </div>
      <%# end %>
    </div>
  </div>
-->

<div class="container">
  <div class="text-center">
    <h1>Adding Team Members</h1>
    <p>Enter up to 4 emails of Rookstars you want to work with</p>
  </div>
  <ol id="team_members_list">
  </ol>
  <div id="team_members_form">
    <% if @team.team_members.count < 5 %>
      <%= render "form", team: @team %>
    <% end %>
  </div>
<%= link_to "Submit", edit_team_path(@team), class: "custom-primary-btn" %>
</div>


