function refreshForm(innerHTML) {
  const newUserForm = document.getElementById('email');
  newUserForm.value = innerHTML;
}

function addUser(userHTML) {
  const users = document.getElementById('team_members_list');
  users.insertAdjacentHTML('beforeend', userHTML);
}

<%# if newUserForm.errors.any? %>
  // refreshForm('<%# j redirect_to new_team_team_members_path(@team) %>');
<%# else %>
  addUser('<li><%= "#{@user.first_name} #{@user.last_name} (#{@user.email})" %></li>');
  refreshForm('');
<%# end %>
