




<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1> User Profile</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <% if @user.pic_url %>
          <%= image_tag @user.pic_url, class: "avatar-large" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>  <%= @user.first_name%> <%= @user.last_name  %></h2>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="two-column-cta">
    <div class="row">
      <div class="double-cta">
        <div class="left-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>About me</h1>
              <p><%= @user.about_me %></p>
            </div>
          </div>
        </div>
        <div class="right-cta col-xs-12 col-md-6">
          <div class="cta-content">
            <hr>
            <div class="text">
              <h1>Teams and Projects</h1>
              <p></p>
            </div><%  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
