<div class="container-fluid">
  <div class="row">
    <div class="footer">
      <div class="content">
        <div class="list-content">
          <div class="col-xs-5">
            <section>
              <p style="color: white; font-size: 14px; margin-left: 20px;">Get in touch</p>
              <%= render 'contacts/new', contact: @contact %>

            </section>
          </div>
          <div class="col-xs-4 list-names">
            <section>
              <ul class="alt">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Our NGOs</a></li>
                <li><a href="#">Posted Jobs</a></li>
            <ul style="margin-top: 21px;" class="list-inline alt">
              <li><a href="#"><i style="font-size: 20px;" class="icon fab fa-twitter">&nbsp;</i></a></li>
              <li><a href="#"><i style="font-size: 20px;" class="icon fab fa-facebook">&nbsp;</i></a></li>
              <li><a href="#"><i style="font-size: 20px;" class="icon fab fa-instagram">&nbsp;</i></a></li>
              <li><a href="#"><i style="font-size: 20px;" class="icon fab fa-github">&nbsp;</i></a></li>
            </ul>

              </ul>


            </section>
          </div>


      </div>
    </div>
  </div>
</div>
</div>




