<footer class="footer">
  <div class="text-center">
    <%= image_tag "logo_thing.png", class: "slice-footer", alt: "Rookstars" %>
  </div>
  <div class="text-center">
   <p style="color: white;">coding to <span id="title-typed"></span></p>
  </div>
</footer>





