<div class="container-fluid">
  <div class="row">
    <footer id="footer">
        <div class="inner">
          <div class="content">
            <section>
              <h4>Any Questions?</h4>
              <%= render 'contacts/new' %>
            </section>
            <section>
              <ul class="alt">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Our NGOs</a></li>
                <li><a href="#">Posted Jobs</a></li>
              </ul>
            </section>
            <section>
              <ul class="plain">
                <li><a href="#"><i class="icon fab fa-twitter">&nbsp;</i>Twitter</a></li>
                <li><a href="#"><i class="icon fab fa-facebook">&nbsp;</i>Facebook</a></li>
                <li><a href="#"><i class="icon fab fa-instagram">&nbsp;</i>Instagram</a></li>
                <li><a href="#"><i class="icon fab fa-github">&nbsp;</i>Github</a></li>
              </ul>
            </section>
          </div>
          <div class="copyright">
            &copy; Thank you. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
          </div>
        </div>
      </footer>
  </div>
</div>






