<footer class="footer">
  <div class="social-area">
    <ul>
      <li>
        <a href="#" target="_blank" title="Join us on Facebook" class="icon fab fa-facebook">
        <span>Facebook</span><i class="icon-facebook"></i></a>
      </li>
      <li>
        <a href="#" target="_blank" title="Join us on Instagram" class="icon fab fa-instagram">
        <span>Instagram</span><i class="icon-instagram"></i></a>
      </li>
      <li><a href="#" target="_blank" title="Join us on Twitter" class="icon fab fa-twitter">
        <span>Twitter</span><i class="icon-behance"></i></a>
      </li>
      <li>
        <a href="#" target="_blank" title="Join us on Github" class="icon fab fa-github">
        <span>Github</span><i class="icon-soundcloud"></i></a>
      </li>
    </ul>
  </div>
  <div class="credits">
    <p>©2018 <span class="footer-white">RookStars</span></p>
    <%= image_tag "logo_thing.png", class: "slice-footer", alt: "Rookstars" %>
  </div>
</footer>




