<h1>Donation or Advancing the project budget</h1>
<%= form_tag orders_path do %>
  <%= hidden_field_tag 'project_id', @project.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
