<div class="contact_background" style="background-image: url('http://investoresearch.com/wp-content/uploads/2015/10/ContactUsBackgroundbanner.jpg'); height:820px;">
  <div class="contact_header">
  <h1 style="color: white; font-size: 80px;">CONTACT</h1>
  </div>
</div>
<div class="address" style="background-color: white; height:820px">
  <div class="design_writing">
    <br>
    <div class="white_space">
      <h4 class="text-center">
        Rookstars<br>•
      </h4>
      <p>
        Rudi-Dutschke-Straße 26 - 10969 Berlin, Germany<br>+49 (0)1 74 67 70 402<br><a href="mailto:contact@rookstars.eu">contact@rookstars.eu</a>
      </p>
      <div class="zigzag_2">
        <p>
          <img class="zigzag" src="http://blackpizza.com/wp-content/uploads/2015/01/zigzag@2x.png" alt="zigzag" width="120" height="20">
        </p>
      </div>
    </div>
  </div>
  <div class="map_height">
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>
<br><br><br><br>
<br><br><br><br>
