<div class="contact_background" style="background-image: url('http://investoresearch.com/wp-content/uploads/2015/10/ContactUsBackgroundbanner.jpg'); height:820px;"></div>
<div class="address" style="background-color: white; height:820px">
  <div class="design_writing">
    <br>
    <h4 class="text-center">
      Rookstars<br>•
    </h4>
    <p>
      Rudi-Dutschke-Straße 26 - 10969 Berlin, Germany<br>+49 (0)1 74 67 70 402<br><a href="mailto:contact@rookstars.eu">contact@rookstars.eu</a>
    </p>
    <p>
      <img class="zigzag" src="http://blackpizza.com/wp-content/uploads/2015/01/zigzag@2x.png" alt="zigzag" width="120" height="20">
    </p>
  </div>
</div>

