<div class="contact_background" style="background-image: url('http://investoresearch.com/wp-content/uploads/2015/10/ContactUsBackgroundbanner.jpg'); height:820px;">
  <div class="contact_header">
    <h1 style="color: white; font-size: 80px;">CONTACT</h1>
  </div>
</div>
<div class="address" style="background-color: white;">
  <div class="design_writing">
    <br>
    <div class="white_space">
      <h4 class="text-center">
        Rookstars<br>•
      </h4>
      <p>
        Rudi-Dutschke-Straße 26 - 10969 Berlin, Germany<br>+49 (0)1 74 67 70 402<br><a href="mailto:contact@rookstars.eu">contact@rookstars.eu</a>
      </p>
      <div class="zigzag_2">
        <p>
          <img class="zigzag" src="http://blackpizza.com/wp-content/uploads/2015/01/zigzag@2x.png" alt="zigzag" width="120" height="20">
        </p>
      </div>
    </div>
  </div>
  <div class="map_height">
    <div
    id="map"
    style="width: 100%;
    height: 100%;"
    data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>

<div class="newsletter" style="height: 100%; background-color: #0e2227;">
  <div class="copy">
    <div class="contact_margin">
      <div class="wrapper">
        <div id="sm_wrapper">
          <div id="sm_top">
           <li>Subscribe to our Newsletter</li>
         </div>
         <div id="sm_content">
          <p>  </p>
          <form id="sm_form" action="http://rookstars.eu/wp-content/plugins/mailchimp-subscribe-sm/data-ajax.php" method="post"   class="myform">
           <input type="hidden" name="ssm_sub_url" class="ssm_sub_url" value="http://rookstars.eu/thank-you/">
           <input type="text" id="sm_input" class="sm_field" name="sm_name" placeholder="Your name">
           <input type="email" id="sm_input" class="sm_field" name="sm_email" placeholder="Your email" required=""><br>
           <input type="submit" name="submit" value="Send" class="sm_submit" id="sm_submit">
         </form>
       </div>
       <div id="sm_footer">
        <span id="response">
        </span>
        <p></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="display">
  <div class="container-fluid">
    <div class="row">
    <div class="item1-2">
      <div class="item1">
        <div class="cards-home2" style="background-image: linear-gradient(0deg, rgba(0,101,168,0.2) 0%, rgba(0,0,0,0.6) 0%), url('https://marketing-prod.global.ssl.fastly.net/sites/default/files/2017-03/GA_Coding_2x_2.jpg');">
          <div class="cards-home-caption" >
            <div class="writing_contacts1">
            <div class="cards-home-caption-content">
              <h5 style="color: white; font-weight: normal;">• W A N T E D •</h5>
              <div class="project-category text-faded">
                <h3 style="color: white; font-weight: normal;">Projects</h3>
              </div>
              <div class="project-name">
                <p style="color: white; width: 380px;">
                  Team ROOKSTARS is looking for projects to let Junior Developers improve the digital footprint of NGOs. If you want a new website / email integration / sign-in / a map / or anything else.
                </p>
                <br>
                <p>
                  <%= link_to "All Projects", projects_path, style: "color: white;", class: "hover_contacts" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item2">
        <div class="cards-home2" style="background-color: white;">
          <br>
          <div class="writing_contacts2">
          <div class="alignment_project">
            <h3 style="color: black; font-weight: normal;">
              NGO
            </h3>
            <p style="width: 380px;">
              Are you a NGO that needs a new website or single components on it? Get in contact now and start creating your projects to help alumni from LeWagon by improving their portfolio and moreover, let them help the world. Be part of it:
            </p>
            <br>
            <a href="mailto:contact@rookstars.eu", style="color: black;", class="hover_contacts">Any Concerns</a>
            <br>
            <div class="writing_contacts2">
              <div class="alignment_project">
                <h3 style="color: black; font-family: 'ProximaNovaBlack', helvetica, arial, sans-serif; font-weight: normal;">
                  NGOs
                </h3>
                <p style="width: 380px;">
                  Are you a NGO that needs a new website or single components on it? Get in contact now and start creating your projects to help alumni from LeWagon by improving their portfolio and moreover, let them help the world. Be part of it:
                </p>
                <br>
                <a href="mailto:contact@rookstars.eu", style="color: black;", class="hover_contacts">Any Concerns</a>
                <br>
                <br>
                <div class="zigzag_2">
                  <p>
                    <img class="zigzag" src="http://blackpizza.com/wp-content/uploads/2015/01/zigzag@2x.png" alt="zigzag" width="120" height="20">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="item3-4">
      <div class="item3">
        <div class="cards-home2" style="background-color: white;">
          <br>
          <div class="writing_contacts3">
          <div class="alignment_project">
            <h3 style="color: black; font-weight: normal;">
              Organizations
            </h3>
            <p style="color: black; width: 380px;">
              Contact us for any information concerning your projects. Our society is made up of Developers with different skill-levels. Create a project defining you wants and quickly have someone working on it for no or low money. Help yourself by helping Junior Developers.
            </p>
            <br>
            <a href="mailto:contact@rookstars.eu" style="color: black;", class="hover_contacts">Contact us</a>
            <br>
            <div class="writing_contacts3">
              <div class="alignment_project">
                <h3 style="color: black; font-family: 'ProximaNovaBlack', helvetica, arial, sans-serif; font-weight: normal;">
                  Organizations
                </h3>
                <p style="color: black; width: 380px;">
                  Contact us for any information concerning your projects. Our society is made up of Developers with different skill-levels. Create a project defining you wants and quickly have someone working on it for no or low money. Help yourself by helping Junior Developers.
                </p>
                <br>
                <a href="mailto:contact@rookstars.eu" style="color: black;", class="hover_contacts">Contact us</a>
                <br>
                <br>
                <div class="zigzag_2">
                  <p>
                    <img class="zigzag" src="http://blackpizza.com/wp-content/uploads/2015/01/zigzag@2x.png" alt="zigzag" width="120" height="20">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item4">
          <div class="cards-home2 hover_card_contacts" style="background-image: linear-gradient(0deg, rgba(0,101,168,0.2) 0%, rgba(0,0,0,0.6) 0%), url('https://ak0.picdn.net/shutterstock/videos/19277281/thumb/2.jpg');">
            <%= link_to projects_path do  %>
            <div class="cards-home-caption" >
              <div class="eye">
                <i class="fas fa-eye" style="color: white; font-size: 45px;"></i>
              </div>
              <div class="project-category text-faded">
                <h3 style="color: white; font-size: 16px; margin: 0; font-weight: normal; text-decoration: line-through;", class="hover_contacts">View Our NGOs</h3>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


