
<br>
<div class="container-fluid">
  <div class="col-xs-12">
    <div id="myKanban">
    </div>
    </div>
</div>
<div class="text-center">
<br>
<%= link_to "Chat", thredded_path, class: "custom-primary-btn" %>
<br>
</div>
<%= javascript_pack_tag 'jkanban' %>
