<div class="header-container-small" style="background-image: url('<%= cl_image_path @project.photo, crop: :fill %>');">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Team Proposal</h1>

    </div>
  </div>
</div>
<br>
<div class="classroom-container">
 <div class="title-classroom">
  <h1>This is your to do list!</h1>
  <div class="button">
    <%= link_to "Chat", thredded_path, class: "custom-primary-btn" %>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12">
    <div id="myKanban">
    </div>
  </div>
</div>

<%= javascript_pack_tag 'jkanban' %>
</div>
