<div class="header-container-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.18) 50%), url('<%= cl_image_path "people-coffee-tea-meeting" %>'); background-size: cover; background-position: initial; background-attachment: fixed;">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Find your favorite cause</h1>
    </div>
  </div>
</div>
<br>
<div class="container-cards">
  <!-- <h1 style="color: #005484;" class="text-center">Hop on a project</h1> -->
  <br>
<div class="container">
<%= render 'components/cards' %>
</div>
</div>
