<div class="header-container">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Support a cause with your work</h1>
    </div>
  </div>
</div>

<%= render 'components/cards' %>
