<div class="header-container-small" style="background-image: url('<%= image_path "image2.jpg" %>'); background-size: cover; background-position: center">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>find your favorite cause</h1>
    </div>
  </div>
</div>
<br>
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <%= render 'components/cards' %>
  </div>
</div>
