<div class="container">
  <div class="title text-center">
    <h1>Project Application</h1>
  </div>
  <div class="form">
    <%= simple_form_for @application do |f| %>
      <%= f.input :pitch, label: "Pitch", placeholder: "For your Google Maps integration, we will use Google's API and apply it to your platform so you're able to browse any location you want and save it with a customizeable marker. " %>
      <%#= f.input :about_us, label: "About the team", placeholder: "We met doing LeWagon in Berlin, Germany in January 2018. Ever since, we have been putting our programming skills to meaningful work by combining our front and back-end skills to drive your dreams to the web." %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
