<div class="header-container-small" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.18) 50%), url('<%= cl_image_path "people-coffee-tea-meeting" %>'); background-size: cover; background-position: initial; background-attachment: fixed;">
  <div class="header-content">
    <div class="text-center intro-text">
      <h1>Choose the team you want to be working with</h1>
    </div>
  </div>
</div>
<br>
<div class="container-cards">
  <% @proposals = @org_accept %>
  <h1>Proposals that need your decision</h1>
  <br>
<div class="container">
<%= render 'components/cards_proposal' %>
</div>
  <h1>Awaiting the answer of the developers</h1>
  <% @proposals = @dev_accept  %>
  <div class="container">
  <%= render 'components/cards_proposal' %>
  </div>
</div>
