.custom-primary-btn {
  color: white;
  background-color: $secondary;
  padding: 10px 60px;
  border-radius: 50px;
  color: white;
  border: solid 2px;
  font-size: 14px;
  border-color: $secondary;
}

.custom-primary-btn:hover {
  color: white;
  transition: ease .2s;
  background-color: $primary;
  border-color: white;
  padding: 10px 60px;
  border: solid 2px;
  border-radius: 50px;
  text-decoration: none;


}

.custom-secondary-btn {
  color: white;
  background-color: $primary;
  padding: 10px 60px;
  border-radius: 41px;
  color: white;
  font-size: 14px;
  border-color: $primary !important;
}

.custom-secondary-btn:hover {
  color: white;
  background-color: $primary;
  border-color: $accent;
  padding: 10px 60px;
  border-radius: 41px;
  color: white;
}
