.custom-primary-btn {
  color: white;
  background-image: linear-gradient(to right, #92fe9d -100%, #00c9ff 100%);
  background-color: $secondary;
  padding: 10px 60px;
  border-radius: 50px;
  color: white;
  font-size: 14px;
}

.custom-primary-btn:hover {
  color: white;
  background-image: linear-gradient(60deg, #FA3E64 0%, #ffb199 260%);
  transition: ease .6s;
  background-color: $primary;
  padding: 10px 60px;
  border-radius: 50px;
  text-decoration: none;

}

.custom-secondary-btn {
  color: white;
  background-color: $primary;
  padding: 10px 60px;
  border-radius: 41px;
  color: white;
  font-size: 14px;
  border-color: $primary !important;
}

.custom-secondary-btn:hover {
  color: white;
  background-color: $primary;
  border-color: $accent;
  padding: 10px 60px;
  border-radius: 41px;
  color: white;
}
