.custom-primary-btn {
  color: white;
  background-image: linear-gradient(to right, #92fe9d -100%, #00c9ff 100%);
  background-color: $secondary;
  padding: 10px 60px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
}

.custom-primary-btn:hover {
  color: white;
  background-image: linear-gradient(60deg, #FA3E64 0%, #ffb199 260%);
  transition: ease .6s;
  background-color: $primary;
  padding: 10px 60px;
  border-radius: 50px;
  text-decoration: none;

}

.custom-secondary-btn {
  padding: 10px 60px;
  border-radius: 41px;
  color: #8a8a8a;
  font-size: 20px;
  border: solid 1px;
}

.custom-secondary-btn:hover {
 background-color: #dadada;
 padding: 10px 60px;
 border-radius: 41px;
 color: #8a8a8a;
 font-size: 20px;
 text-decoration: none;
 border: solid 1px;
}
