a .card {
    color: $blue;
    text-decoration: none;
}
.card {
 width: 330px;
 height: 315px;
 margin: 13px 0px;
 position: relative;
 border-radius: 4px;
 .card-category {
  display: flex;
  justify-content: center;
  width: 330px;
  z-index: +1;
  padding: 49px 20px;
  border-color: $blue;
  background-color: $primary;
  border-bottom: solid 6px;
  border-radius: 4px 4px 0px 0px;
  height: 150px;
  background-size: cover;
  background-position: center;

}
.custom-primary-btn {
  visibility: hidden;
}

h1 {
  font-weight: 700;
  position:absolute;
  top: 187px;
  font-size: 20px;
  margin: 0px;
  text-align: left;
  color: $secondary;
}
h2 {
  font-weight: 100;
  position:absolute;
  top: 160px;
  font-size: 20px;
  margin: 0px;
  text-align: left;
  color: $secondary;
  a {
    color: $primary;
    text-decoration: none;
  }
}
p {
  color: $gray;
  margin: 4px 0 12.5px;

}

.card-category p {
  font-weight: 100;
  visibility: hidden;
  position:absolute;

  font-size: 20px;
  margin: 0px;
  text-align: left;
  color: white;
}
.description-text {
  position: absolute;
  font-size: 14px;
  top: 219px;
}


}
.card:hover {
  transition: ease .2s;
  width: 330px;
  height: 315px;
  border-bottom: solid 6px;
  border-top: solid 6px;
  margin: 13px 0px;
  position: relative;
  border-radius: 4px;

  .card-category {
    opacity: .8;
    transition: ease .3s;
    display: flex;
    justify-content: center;
    border-radius: 0px;
    width: 330px;
    padding: 49px 20px;
    border-color: $blue;
    background-color: $primary;
    border-bottom: solid 6px;
    height: 150px;

  }


  h1 {
    font-weight: 700;
    position:absolute;
    top: 187px;
    font-size: 20px;
    margin: 0px;
    text-align: left;
    color: $accent;
  }
  h2 {
    font-weight: 100;
    position:absolute;
    top: 160px;
    font-size: 20px;
    margin: 0px;
    text-align: left;
    color: $accent;
  }
  p {
    color: $accent;
  }
  .custom-primary-btn {
    color: white;
    background-color: $primary;
    visibility: visible;
    padding: 10px 60px;
    border-radius: 41px;

  }
  .description-text {
    position: absolute;
    font-size: 14px;
    top: 219px;
  }
}


