.footer {
  background-color: #111111;
    color: #232323;
    height: 269px;
    background-size: cover;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    padding: 11px 20px;
  ul {
    list-style: none;
  }

  .single-forms .form-control {
    width: 96.5%;
    font-size: 14px;
  }

  .inline-forms .form-control {
    width: 95%;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .list-content {
    padding-top: 30px;
  }

.list-names {
    padding-top: 30px;
  }

  .alt {
    text-align: left;
  }
}
