.project-container {
  padding: 15px;
  background-color: $secondary;
  opacity: 0.8;
  border-radius: 10px;
  margin: 20px 0;
  color: white;
}

.feature_checkbox_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature_checkbox {
  flex: 0 0 25%;
}

.signing-form {
  color: #465256b8;
  font-size: 14px;
}

.about-team {
  padding: 28px 0px;
  font-family: "Comfortaa", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  font-size: 38px;
  color: #465256b8;

  textarea.form-control {
    height: 190px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 25px;
    font-weight: bold;
  }
}

.team-members {
  label {
    color: #465256b8;
    font-size: 14px;
  }

  textarea.form-control {
    height: 190px;
  }
  h1 {
   padding: 28px 0px;
   font-family: "Comfortaa", "Helvetica", "sans-serif";
   font-weight: 500;
   line-height: 1.1;
   text-align: center;
   font-size: 38px;
   color: #465256b8;
 }
}

.proposal-form {
    padding: 58px 0px;
  font-family: "Comfortaa", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  font-size: 38px;
  color: #465256b8;

  textarea {
    height: 190px;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 25px;
    font-weight: bold;
  }
  h1 {
    text-align: center;
  }
}

.team-pick {
    padding: 58px 0px;
  font-family: "Comfortaa", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  font-size: 38px;
  color: #465256b8;

  textarea {
    height: 190px;
  }
    .control-label {
       color: #465256b8;
    font-size: 14px;

    }

  label {
    color: #465256b8;
    font-size: 21px;
  }
  h1 {
     padding: 28px 0px;
   font-family: "Comfortaa", "Helvetica", "sans-serif";
   font-weight: 500;
   line-height: 1.1;
   text-align: center;
   font-size: 38px;
   color: #465256b8;
  }
}

.progress-custom {
  overflow: hidden;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  .active {
   height: 5px;
   margin: 0;
   padding: 0;
   background-image: linear-gradient(60deg, #FA3E64 0%, #ffb199 260%);
 }
 .unactive {
   height: 5px;
   padding: 0;
   background-color: white;
 }

}
