.header-container {
  background-color: $primary;
  height: 300px;
  padding: 70px;
   h1 {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
  color: white;
}
p {
  color: white;
  font-weight: 100;
  font-size: 14px;
}
}


