.header-container {
  background-color: #232323;
  background-position: center;
  background-size: cover;
  height: 505px;
  margin-top: -70px;
  padding: 189px 65px;
  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 55px;
    color: white;
  }
  p {
    color: white;
    font-weight: 100;
    font-size: 14px;
  }
}


.header-container-small {
  background-color: white;
  background-position: center;
  background-size: cover;
  height: 300px;
  margin-top: -70px;
  padding: 189px 65px;
  h1 {
    text-align: left;
    font-weight: bold;
    font-size: 55px;
    color: white;
  }
  p {
    color: white;
    font-weight: 100;
    font-size: 14px;
  }
}

.team-avatar {
  padding: 0px 0px 20px 0px;
  :first-child {
    margin-left: 0px;
  }
}
