.signing-form {
  background-color: $primary;
  border-radius: 10px;
  margin: 10px 0 ;
}

.get-in-touch{
  height: 300px;
}

.links-forms {
  padding: 10px 0 55px 0;
  display: flex;
  justify-content: space-between;
}
