.signing-form {
  border-radius: 10px;
  margin: 70px 0 ;
}

.get-in-touch{
  height: 300px;
}

.links-forms {
  padding: 10px 0 55px 0;
  display: flex;
  justify-content: center;
  a {
    margin: 8px;
    font-size: 14px;
  }
}

.links-forms:hover {
  padding: 10px 0 55px 0;
  display: flex;
  justify-content: center;
  a {
    font-size: 14px;
  }
}
