.box-about-me {
  width: 50vw;
  min-height: 30vh;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: $secondary;
  opacity: 0.8;
  color:white;
}
